body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background: white;
  color: black;
}

/* menu bar settings */
.menu-bar {
  background-color: #333;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.menu-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu-bar li {
  display: inline-block;
  margin-right: 20px;
}

.menu-bar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu-bar a:hover {
  background-color: #555;
}

/* container settings */
.container {
  width: 80%;
  height: 85vh; /* % of the viewport height */
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: none;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.flex-container {
  width: 100%;
  height: 100vh;
  display: flex;
  max-width: none;
  margin: 0 auto;
}

.tabs-container {
    display: flex;
    width: 100%; /* Ensure the tabs container takes up the full width */
}

.short_container {
  width: 100%;
  height: 40vh; /* % of the viewport height */
  background-color: white;
  box-shadow: none;
  padding: 10px;
  max-width: none;
  margin: 0 auto;
  border-radius: 0px;
}

.third_container {
  width: 35%;
  height: 90vh; /* % of the viewport height */
  background-color: white;
  box-shadow: none;
  padding: 20px;
  max-width: none;
  margin: 0 auto;
  border-radius: 0px;
}

.half_container {
  width: 50%;
  height: 90vh; /* % of the viewport height */
  background-color: white;
  box-shadow: none;
  padding: 20px;
  max-width: none;
  margin: 0 auto;
  border-radius: 0px;
}

.input-container label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.single_container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}


/* tab settings */
.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  padding: 0.75rem;
  border-radius: 99px; /* just a high number to create pill effect */
  width: 40%; 
  margin-right: 15px;
  * {
        z-index: 2;
    }
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center-align the text */
  height: 20px;
  width: 50%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 99px; /* just a high number to create pill effect */
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.glider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Take up the full height of the parent container */
    min-width: 50%; /* Ensure the glider covers at least half the width of the parent container */
    background-color: rgba(139, 0, 0, 0.7); /* Set the background color to dark red */
    z-index: 1;
    border-radius: 50px; /* Use half of the height to create a pill shape */
    transition: 0.25s ease-out;
}

input[type="radio"] {
  display: none;
}

input[type="radio"][id="Orig"]:checked ~ .glider {
    transform: translateX(0);
}

input[type="radio"][id="Random"]:checked ~ .glider {
    transform: translateX(100%);
}

input[type="radio"][id="NormAcc"]:checked ~ .glider {
    transform: translateX(0);
}

input[type="radio"][id="Acc"]:checked ~ .glider {
    transform: translateX(100%);
}

input[type="radio"]:checked + label {
  color: #fff;
}

.container-area {
  width: 65%;
  height: 90vh; /* % of the viewport height */
  background-color: white;
  box-shadow: none;
  padding: 20px;
  max-width: none;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 1px;
  border-top: none; 
  border-bottom: none;
  border-right: none; 
  position: relative;
  z-index: 2;
  transition: background-color 0.3s;
}

.container-content {
    display: flex;
}

.container-content h2 {
    color: #333;
    margin-bottom: 2px;
}

.container-content p {
    color: #777;
}

.half-container {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

/* input settings */

.input-container input {
    flex: 1;
    width: auto;
    margin-bottom: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.section-divider {
    border: 1px solid #ddd; /* Adjust the border color */
    margin: 20px 0; /* Adjust the margin to control the space around the divider */
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  border-radius: 0;
  width: 100%;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 0; /* Non-rounded edges */
    width: 100%;
    max-width: 80px;

    /* Chrome, Safari, Edge, Opera */
    -webkit-appearance: none;
    margin: 0;

    /* Firefox */
    -moz-appearance: textfield;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"]::-moz-focus-inner {
    border: 0;
}

/* For IE11 */
input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
    display: none;
}

input[type="range"] {
    width: 100%;
    display: block; 
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0062cc;
}

.transparent-button {
  background-color: transparent;
  border: none;
  color: #000; /* Change the text color as needed */
  padding: 10px 20px; /* Adjust the padding as needed */
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Adjust the font size as needed */
  cursor: pointer;
}

.transparent-button:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
}
.more-text {
  display: none;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

